name: AWS Auth

inputs:
  aws-region:
    required: true
  role-to-assume:
    required: true

runs:
  using: "composite"
  steps:
    - name: Configurar credenciais AWS via OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ inputs.aws-region }}
        role-to-assume: ${{ inputs.role-to-assume }}
